# This file's encoding is UTF-8.

# ===========================
# Unity
# ===========================
Library/
Temp/
obj/
Builds/
*.csproj
*.unityproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
.DS_Store
.vscode/
UserSettings/

# ===========================
# IDE
# ===========================
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.swp
*.swo
*~
.idea/

# ===========================
# OS
# ===========================
.DS_Store
Thumbs.db
